

.bars {
  position: absolute;
}

.bar-left {
  background-color: blue;
  height: 100vh;
  width: 100px;
}

.bar-top {
  background-color: blue;
  height: 100px;
  width: 100vw;
  margin-top: -100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 400px));
  grid-template-rows: repeat(3, minmax(300px, 400px));
  height: 4000px;
  margin-left: 100px;
  margin-top: 100px;
}

.item {
  background-color: violet;
}

@media (max-width: 725px) {
  .container {
    grid-template-columns: repeat(2, minmax(300px, 400px));
    grid-template-rows: repeat(2, minmax(300px, 400px));
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: repeat(1, minmax(300px, 400px));
    grid-template-rows: repeat(1, minmax(300px, 400px));
  }
}